

.heroCarousel {
  width: 100vw;
  padding-top:100px;
  // overflow-y: hidden;

  .slide {
    position: relative;
    width: 100vw;
    height: 80vh; 
    display: flex !important;
    align-items: center;
    justify-content: flex-start; // text on left
    color: white;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background: rgba(0,0,0,0.3); // dark overlay for readability
      background: rgba(19, 19, 19, 0.3);
      z-index: 1;
    }

    .content {
      position: relative;
      z-index: 2;
      margin-left: 60px; // left offset
      max-width: 600px;

      h2 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 15px;
        line-height: 1.2;
        color:#f0f0f0;
      }


      p {
        font-size: 1.2rem;
        color: #f0f0f0;
      }
    }
    .content h2 {
  // border-right: 2px solid white;
  padding-right: 5px;
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


    img {
      object-fit: cover !important; // full coverage
      object-position: center !important;
      width: 100%;
      height: 100%;
    }
  }

  .slick-slider {
    .slick-prev,
    .slick-next {
      z-index: 10;
      width: 40px;
      height: 40px;
      background: rgba(50, 29, 106, 0.6);
      border-radius: 50%;
      &:before {
        font-size: 20px;
        color: #fff;
      }
      &:hover {
        background: rgba(50, 29, 106, 0.8);
      }
    }

    .slick-dots {
      bottom: 20px;
      li button:before {
        font-size: 12px;
        color: white;
      }
      li.slick-active button:before {
        color: #fff;
      }
    }
  }
}






/* Tablet */
@media (max-width: 1024px) {
  .slide {
    flex-direction: row; // stack vertically if needed
    justify-content: flex-start; // vertical center
    align-items: flex-start; // keep text aligned left
    height: 65vh;
    // padding-top: 0;

    .content {
      margin-left: 20px; // left margin
      margin-right: 20px; // right margin for padding
      max-width: 100%; // full width inside padding
      // padding-top:200px;
      
      h2 {
        font-size: 2rem;
        word-wrap: break-word; // wrap text
      }
      p {
        font-size: 1rem;
        word-wrap: break-word;
      }
    }
  }
}

/* Mobile */
@media (max-width: 600px) {
  .slide {
    flex-direction: column; // stack vertically
    justify-content: flex-start; // vertical center
    align-items: flex-start; // left align text
    height: 55vh;
    padding-top: 0 10px;


    .content {
      // margin-left: 15px; 
      // margin-right: 15px; // padding on both sides
      max-width: 70%;
      padding-right:15px;
      padding-top:120px;
       
      h2 {
        font-size: 1rem;
        font-weight: 100;
        word-wrap: break-word; // wrap if too long
      }
      p {
        font-size: 0.5rem;
        word-wrap: break-word;
      }
    }
  }
}


