.section {
  padding: 100px 5%;
  background: #f8fafc;
}

.heading {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 60px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  overflow: hidden;
  border-radius: 20px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 420px;
  cursor: pointer;
}

.image {
  object-fit: cover;
  transition: transform 0.6s ease;
}

.imageWrapper:hover .image {
  transform: scale(1.1);
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(5, 20, 60, 0.95),
    rgba(5, 20, 60, 0.2)
  );
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.imageWrapper:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color:white;
}

.overlay p {
  font-size: 15px;
  line-height: 1.5;
  opacity: 0.9;
  color:white;
}

.arrow {
  margin-top: 15px;
  font-size: 22px;
}
