

.strengths {
  padding: 80px 100px;
  text-align: center;
  background: white;

  .heading h1,
  .heading p,
  .cards .card {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
  }
}

.strengths.visible {
  .heading h1,
  .heading p,
  .cards .card {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Heading */
.heading h1 {
  font-size: 2.8rem;
  color: #321d6a;
  margin-bottom: 10px;
  font-weight: bold;
}

.heading p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 60px;
}

/* Cards container */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-items: center;
  margin-top: 40px;
}

/* Individual card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.number {
  font-size: 2.5rem;
  // color: #3b82f6;
   color: #c42505;
  font-weight: bold;
}

.title {
  font-size: 1.2rem;
  color: #321d6a;
  font-weight: 500;
}

/* Responsive */
@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  /* Center the last item if odd number of cards */
  .cards .card:last-child {
    grid-column: 1 / -1;
    justify-self: center;
  }
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .strengths {
    padding: 50px 20px;
  }
}
