

.howWeWork {
  padding: 50px 20px;
  padding-bottom:60px;
  background: #ffffff;
}


.topContent {
  max-width: 750px;
  margin: 0 auto 0px;
  margin-bottom:50px;
  text-align: center;

  h2 {
    font-size: 38px;
    font-weight: 700;
    color: #1f2b6c;
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    line-height: 1.8;
    color: #666;
  }
}



.typing {
  width: fit-content;
  margin: 0 auto 15px;
  overflow: hidden;
  white-space: nowrap;

  animation: typing 1s steps(8, end);
}



@keyframes typing {
  from { width: 0 }
  to { width: 8ch } // "About Us" = 8 chars
}

@keyframes blink {
  50% { border-color: transparent; }
}
.wipeUp {
  opacity: 0;
  transform: translateY(30px);
  animation: wipeUp 1.2s ease forwards;
  animation-delay: 1s; // after typing finishes
}

@keyframes wipeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.container {
  max-width: 1220px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
}

/* ======================
   LEFT CONTENT
====================== */
.content {
  h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1f2b6c;
    margin-bottom: 40px;
  }
}
.slideIn {
  opacity: 0;
  transform: translateX(-80px);
  transition: all 1s ease;
}

.slideIn.active {
  opacity: 1;
  transform: translateX(0);
}


.item {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;

  h4 {
    font-size: 20px;
    font-weight: 600;
    color: #1f2b6c;
    margin-bottom: 8px;
  }

  p {
    font-size: 15px;
    line-height: 1.7;
    color: #555;
  }
}

.icon {
  font-size: 35px;
  color: #1f2b6c;
  min-width: 40px;
  margin-bottom: 0px;
}

/* ======================
   IMAGE
====================== */
.imageBox {
  position: relative;
  width: 100%;
  height: 420px;

  img {
    object-fit: cover;
    // border-radius: 4px;
  }
}

/* ======================
   TABLET (SAME AS DESKTOP)
====================== */
@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}

/* ======================
   MOBILE (IMAGE TOP)
====================== */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .imageBox {
    order: 1;
    height: 260px;
  }

  .content {
    order: 2;

    h2 {
      font-size: 30px;
    }
  }
}
