.whoSection {
  position: relative;
  width: 100%;
  min-height: 80vh;
  background-image: url("/imageswebp/whoweareNew.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
/* ✅ SAFE OVERLAY */
.whoSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  pointer-events: none;
}

.container {
  position: relative;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  z-index: 2;
}

.content {
  max-width: 650px;
  color: #f8f1f1;
  
}

.subtitle {
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #f0f0f0;
  margin-bottom: 12px;
}

.title {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 650;
  margin-bottom: 20px;
  line-height: 1.2;
  color:white;
}


.typing {
  display: inline-block;
  overflow: hidden;
  white-space: wrap;
  border-right: 3px solid #2ecc71;
  font-weight: 650;
  color: white;
}

/* Typing animation only when startTyping class is added */
.startTyping {
  animation: typing 4s steps(60, end), blink 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
  0%, 100% { border-color: #2ecc71 }
}



.description {
  font-size: 1.05rem;
  line-height: 1.8;
  color: #e5e5e5;
  margin-bottom: 28px;
}

.btn {
  display: inline-block;
  padding: 12px 26px;
  background: #53be80;
  color: #000;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    background: #27ae60;
    transform: translateY(-2px);
    color:white;
  }
}

.btn {
  position: relative;
  z-index: 5;
}

/* ================= MOBILE ================= */
@media (max-width: 600px) {
//   .whoSection {
//     min-height: 70vh;
//   }

  .content {
    max-width: 100%;
  }
}
@media (max-width:400px){
  .whoSection {
  position: relative;
  width: 100%;
  min-height: 95vh;
 
}
}
