

.whyChoose {
  padding: 80px 20px;
  // background: linear-gradient(rgb(235, 212, 235), rgb(118, 120, 199));
   background: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: stretch;
  
}

/* LEFT CONTENT */
.left {
  h2 {
    font-size: 36px;
    margin-bottom: 15px;
    color: #1e3a8a;
  }

  p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #262829;
    font-weight: 500;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      font-size: 16px;
      margin-bottom: 12px;
      color: #262829;
      display: flex;
      align-items: center;
      gap: 8px;
       font-weight: 450;
    }
  }
}

/* RIGHT IMAGE */
.right {
  position: relative;
  width: 100%;
  min-height: 430px;
  overflow: hidden;
}

/* IMAGE */
.image {
  object-fit: cover;
  opacity: 0;
  transform: scale(1.05);
  transition: opacity 1s ease, transform 1s ease;
}

.active {
  opacity: 1;
  transform: scale(1);
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
  }

  .right {
    min-height: 420px;
  }
}

@media (max-width: 480px) {
  .right {
    min-height: 240px;
  }
}
