// .wrapper {
//   width: 100%;
//   background: #f9fafb;
// }

// .container {
//   max-width: 1300px;
//   height: 40vh;
//   margin: auto;

//   display: grid;
//   grid-template-columns: 1fr 1fr;

//   overflow: hidden;
// }

// /* IMAGE */
// .imageBox {
//   position: relative;
//   width: 100%;
//   height: 100%;

//   img {
//     object-fit: cover;
//   }
// }

// /* TEXT */
// .textBox {
//   height: 100%;
//   padding: 30px 40px;

//   display: flex;
//   flex-direction: column;
//   justify-content: center;

//   background: #ffffff;

//   h2 {
//     font-size: 28px;
//     margin-bottom: 12px;
//     color: #111827;
//   }

//   p {
//     font-size: 16px;
//     line-height: 1.6;
//     color: #4b5563;
//   }
// }

// /* ===========================
//    RESPONSIVE
// =========================== */
// @media (max-width: 768px) {
//   .container {
//     grid-template-columns: 1fr;
//     height: auto;
//   }

//   .textBox {
//     order: 1;
//     height: 25vh;
//   }

//   .imageBox {
//     order: 2;
//     height: 25vh;
//   }
// }
//............

.wrapper {
  width: 100%;
  background: #f9fafb;
}

.container {
  max-width: 1200px;
  height: 35vh;
  margin: auto;
  margin-top:30px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

/* IMAGE */
.imageBox {
  position: relative;
  width: 100%;
  height: 100%;
}

.imageBox img {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXT */
.textBox {
  height: 100%;
  padding: 30px 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: #ffffff;

  h2 {
    font-size: 28px;
    margin-bottom: 12px;
    color: #111827;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    color: #4b5563;
  }
}

/* ===========================
   RESPONSIVE
=========================== */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    height: auto;
  }

  .textBox {
    order: 1;
    height: 25vh;
  }

  .imageBox {
    order: 2;
    height: 25vh;
  }
}
