

.follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;

  mix-blend-mode: difference;

  transition:
    width 0.25s ease,
    height 0.25s ease,
    opacity 0.25s ease;
}

/* 🔥 GROW EFFECT */
.hover {
  width: 40px;
  height: 40px;
  opacity: 0.85;
  background: rgb(58, 48, 48);
}

/* Keep default cursor */
body {
  cursor: auto;
}

/* Disable on mobile */
@media (max-width: 768px) {
  .follower {
    display: none;
  }
}
